################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GUI/obj/Debug/DesignTimeResolveAssemblyReferences.cache
