################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GUI/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/.vs/LoyalCustomersManagament/FileContentIndex/2675b1f5-2085-474c-a2b0-889d6de886bb.vsidx
/.vs/LoyalCustomersManagament/FileContentIndex/92a23a4a-6d5b-4dc2-bdf8-3afb53e2c572.vsidx
/.vs/LoyalCustomersManagament/FileContentIndex/a0768d4a-6c80-4485-95e2-173ab8273201.vsidx
/.vs/LoyalCustomersManagament/v17/.suo
